.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: rgb(124, 79, 46);
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
  
    &:hover {
      background-color: rgb(168, 115, 77);
    }

    &.google-sign-in {
      background-color: #4285f4;
      color: white;

      &:hover {
        background-color: #6aa1fa;
        border: none;
      }
    }
}