.signin {
    background-color: #fff;
    width: 380px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    margin-bottom: auto;
    font-family: 'Inter', sans-serif;

    .sign-in-header {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #ddd;
        border-radius: 5px 5px 0 0;
        padding: 25px;
        background-color: #fbfbfb;

        .title {
            margin: 0 auto 5px auto;
            font-size: 1rem;
            font-weight: 200;
        }
    
        .subtitle {
            margin: auto;
            font-size: 1rem;
            font-weight: 500;
        }
    }

    form {
        padding: 0 20px 20px 20px;
        font-family: 'Inter', sans-serif;

        .signin-buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
    
            button {
                margin: 20px 0 0 0;
            }
        }

        .group {
            margin: 40px 0;
        }
    }

}