.header {
    font-family: 'Josefin Sans', sans-serif;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-container {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 25px;

        .logo {
            margin-right: 5px;
        }

        .brand-name {
            display: inline-block;
        }
    }

    .option-container {
        display: flex;
        height: 100%;
        width: 50%;
        align-items: center;
        justify-content: flex-end;

        .option {
            padding: 10px 15px;
            cursor: pointer;
        }
    }
}