* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  /* padding: 20px 50px; */
  background-color: #f6f7f9;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}